
.vs/MessageBoxTouch/v16/.suo
.vs/MessageBoxTouch/v16/Server/sqlite3/storage.ide
MessageBoxTouch/bin/Debug/MessageBoxTouch.dll
MessageBoxTouch/bin/Debug/MessageBoxTouch.pdb
MessageBoxTouch/obj/Debug/MessageBox.baml
MessageBoxTouch/obj/Debug/MessageBox.g.cs
MessageBoxTouch/obj/Debug/MessageBox.g.i.cs
MessageBoxTouch/obj/Debug/MessageBoxTouch.csproj.FileListAbsolute.txt
MessageBoxTouch/obj/Debug/MessageBoxTouch.csprojAssemblyReference.cache
MessageBoxTouch/obj/Debug/MessageBoxTouch.dll
MessageBoxTouch/obj/Debug/MessageBoxTouch.g.resources
MessageBoxTouch/obj/Debug/MessageBoxTouch.pdb
MessageBoxTouch/obj/Debug/MessageBoxTouch_MarkupCompile.cache
MessageBoxTouch/obj/Debug/MessageBoxTouch_MarkupCompile.lref
MessageBoxTouch/obj/Debug/WndStyles.baml
Test/bin/Debug/MessageBoxTouch.dll
Test/bin/Debug/MessageBoxTouch.pdb
Test/bin/Debug/Test.exe
Test/bin/Debug/Test.exe.config
Test/bin/Debug/Test.pdb
Test/obj/Debug/App.g.cs
Test/obj/Debug/App.g.i.cs
Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/obj/Debug/Sample.csproj.CopyComplete
Test/obj/Debug/Sample.csproj.FileListAbsolute.txt
Test/obj/Debug/Sample.csproj.GenerateResource.cache
Test/obj/Debug/Sample.csprojAssemblyReference.cache
Test/obj/Debug/SampleWnd.baml
Test/obj/Debug/SampleWnd.g.cs
Test/obj/Debug/SampleWnd.g.i.cs
Test/obj/Debug/Test.exe
Test/obj/Debug/Test.g.resources
Test/obj/Debug/Test.pdb
Test/obj/Debug/Test.Properties.Resources.resources
Test/obj/Debug/Test_MarkupCompile.cache
Test/obj/Debug/Test_MarkupCompile.i.cache
Test/obj/Debug/Test_MarkupCompile.i.lref
Test/obj/Debug/Test_MarkupCompile.lref
.vs/MessageBoxTouch/v16/.suo
.vs/MessageBoxTouch/v16/Server/sqlite3/storage.ide
.vs/MessageBoxTouch/v16/Server/sqlite3/storage.ide
